@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.001 106.423);
  --color-base-200: oklch(97% 0.001 106.424);
  --color-base-300: oklch(92% 0.003 48.717);
  --color-base-content: oklch(21% 0.006 56.043);
  --color-primary: oklch(70% 0.191 22.216);
  --color-primary-content: oklch(25% 0.092 26.042);
  --color-secondary: oklch(70% 0.183 293.541);
  --color-secondary-content: oklch(28% 0.141 291.089);
  --color-accent: oklch(84% 0.238 128.85);
  --color-accent-content: oklch(27% 0.072 132.109);
  --color-neutral: oklch(37% 0.01 67.558);
  --color-neutral-content: oklch(98% 0.001 106.423);
  --color-info: oklch(68% 0.169 237.323);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(69% 0.17 162.48);
  --color-success-content: oklch(97% 0.021 166.113);
  --color-warning: oklch(76% 0.188 70.08);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 0.5rem;
  --radius-field: 0.375rem;
  --radius-box: 0.75rem;
}
@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(20% 0.005 285);
  --color-base-200: oklch(25% 0.006 285);
  --color-base-300: oklch(30% 0.008 285);
  --color-base-content: oklch(85% 0.005 285);
  --color-primary: oklch(75% 0.191 22.216);
  --color-primary-content: oklch(20% 0.092 26.042);
  --color-secondary: oklch(75% 0.183 293.541);
  --color-secondary-content: oklch(22% 0.141 291.089);
  --color-accent: oklch(88% 0.238 128.85);
  --color-accent-content: oklch(22% 0.072 132.109);
  --color-neutral: oklch(85% 0.01 67.558);
  --color-neutral-content: oklch(20% 0.001 106.423);
  --color-info: oklch(72% 0.169 237.323);
  --color-info-content: oklch(20% 0.013 236.62);
  --color-success: oklch(73% 0.17 162.48);
  --color-success-content: oklch(20% 0.021 166.113);
  --color-warning: oklch(80% 0.188 70.08);
  --color-warning-content: oklch(20% 0.022 95.277);
  --color-error: oklch(68% 0.246 16.439);
  --color-error-content: oklch(20% 0.015 12.422);
}
